@use '../../style/_color.scss' as color;
@use '../../style//_font.scss';

.toastlist {
  position: fixed;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);

  width: 300px;
  height: 210px;
  pointer-events: none;

  text-align: center;

  z-index: 10002;
}

.toast {
  @extend .body2;

  position: relative;

  display: inline-flex;
  align-items: center;

  width: auto;
  height: 54px;
  min-width: 50px;
  margin-top: 4px;
  padding: 14px 16px;
  border-radius: 16px;
  box-sizing: border-box;

  color: color.$neutrals1;
  background-color: white;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

  transition: all 0.3s;

  overflow: hidden;

  span {
    display: inline-block;
    margin-right: 4px;
  }
}

.toastStart {
  opacity: 0;
  transform: translateY(100%);
}

.toastActive {
  opacity: 1;
  transform: translateY(0);
}
