@use '../../../style/_color.scss' as color;
@use '../../../style/_font.scss';

.fileinfo {
  text-align: left;

  .name {
    @extend .body2bold;

    margin-top: 18px;
    color: color.$neutrals2;

    word-break: break-all;
  }

  .desc {
    @extend .caption1;

    margin-top: 4px;
    color: color.$neutrals4;

    word-break: break-all;

    span {
      display: inline-block;
      margin-left: 4px;
    }

    &.edit {
      display: flex;
      justify-self: flex-start;
      align-items: flex-start;
    }
  }

  .size {
    @extend .caption1;

    color: color.$neutrals4;
  }
}

.image {
  max-width: 100%;
  height: auto;
}
